<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Machine Learning Landing Page</title>
  </head>
  <body class="font-Poppins">
    <!-- Header -->
    <header>
      <nav class="container flex items-center py-4 mt-4 sm:mt-12">
        <div class="py-1"><img src="/static/images/Auto_predictor_logo.png" alt="" /></div>
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-bookmark-blue uppercase text-xs">
          <li class="cursor-pointer">Features</li>
          <li class="cursor-pointer">Pricing</li>
          <li class="cursor-pointer">Contact</li>
          <button type="button" class="bg-bookmark-red text-white rounded-md px-7 py-3 uppercase">Login</button>
        </ul>
        <div class="flex sm:hidden flex-1 justify-end">
          <i class="text-2xl fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <!-- Hero -->
    <section class="relative">
      <div class="container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28">
        <!-- Content -->
        <div class="flex flex-1 flex-col items-center lg:items-start">
          <h2 class="text-bookmark-blue text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            The Auto-Predictor ML Project - Automotive & Energy Industry
          </h2>
          <p class="text-bookmark-grey text-lg text-center lg:text-left mb-6">
           <b>AutoPredictor</b> Leverages machine learning to forecast vehicle failure using a comprehensive dataset of over 90,000 used cars from 1970 to 2024. By predicting maintainance needs based on features lik age and mileage, it aims to reduce downtime, optimize maintainance schedules, and enhance vehicle safety and performance!
          </p>
          <div class="flex justify-center flex-wrap gap-6">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">
              Get it on Chrome
            </button>
            <button type="button" class="btn btn-white hover:bg-bookmark-purple hover:text-white">
              Get it on Firefox
            </button>
          </div>
        </div>
        <!-- Image -->
        <div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
          <img class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full" src="/static/images/hero-bg.png" alt="" />
        </div>
      </div>
      <!-- Rounded Rectangle -->
      <div
        class="
          hidden
          md:block
          overflow-hidden
          bg-bookmark-purple
          rounded-l-full
          absolute
          h-80
          w-2/4
          top-32
          right-0
          lg:
          -bottom-28
          lg:-right-36
        "
      ></div>
    </section>

    <!-- Features -->
    <section class="bg-bookmark-white py-20 mt-20 lg:mt-60">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">Project Features</h1>
        <p class="text-center text-bookmark-grey mt-4">
          <b> Predictive Maintenance</b>: Forecast the likelihood of vehicle failures using historical data and machine learning. <br>
         <b> Extensive Dataset</b>: Analyzes data from over 90,000 used cars spanning from 1970 to 2024.<br>
         <b> Synthetic Failure Label</b>: Uses criteria like age and mileage to create a predictive failure indicator.

        </p>
      </div>
      <!-- Feature #1 -->
      <div class="relative mt-20 lg:mt-24">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="/static/images/illustration-features-tab-1.png"
              alt=""
            />
          </div>
          <!-- Form Content -->
<div class="flex flex-1 flex-col items-center lg:items-start">
  <h1 class="text-3xl text-bookmark-blue text-center lg:text-left">Welcome to the Vehicle Data Form</h1>
  <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
    Please input your vehicle information to find out if your dream car is likely to fail or not using our AI predictor.
  </p>

  <div class="w-full">
    <form action="/predict" method="POST" class="space-y-6">
        <div>
            <label for="model" class="block text-gray-700">Model:</label>
            <select id="model" name="Model" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
                <option value="Fiesta">Fiesta</option>
                <option value="Golf">Golf</option>
                <option value="Focus">Focus</option>
                <option value="C Class">C Class</option>
                <option value="Corsa">Corsa</option>
                <option value="Polo">Polo</option>
                <option value="Astra">Astra</option>
                <option value="A Class">A Class</option>
                <option value="3 Series">3 Series</option>
                <option value="Kuga">Kuga</option>
                <option value="Yaris">Yaris</option>
                <option value="Mokka X">Mokka X</option>
                <option value="1 Series">1 Series</option>
                <option value="Aygo">Aygo</option>
                <option value="E Class">E Class</option>
                <option value="A3">A3</option>
                <option value="Tiguan">Tiguan</option>
                <option value="Fabia">Fabia</option>
                <option value="Octavia">Octavia</option>
                <option value="Q3">Q3</option>
                <option value="A4">A4</option>
                <option value="A1">A1</option>
                <option value="Tucson">Tucson</option>
                <option value="2 Series">2 Series</option>
                <option value="EcoSport">EcoSport</option>
                <option value="I10">I10</option>
                <option value="5 Series">5 Series</option>
                <option value="Insignia">Insignia</option>
                <option value="4 Series">4 Series</option>
                <option value="GLC Class">GLC Class</option>
                <option value="Passat">Passat</option>
                <option value="A5">A5</option>
                <option value="Q5">Q5</option>
                <option value="Up">Up</option>
                <option value="GLA Class">GLA Class</option>
                <option value="Q2">Q2</option>
                <option value="Mokka">Mokka</option>
                <option value="X1">X1</option>
                <option value="Superb">Superb</option>
                <option value="A6">A6</option>
                <option value="T-Roc">T-Roc</option>
                <option value="Auris">Auris</option>
                <option value="Crossland X">Crossland X</option>
                <option value="Zafira">Zafira</option>
                <option value="B Class">B Class</option>
                <option value="Grandland X">Grandland X</option>
                <option value="X3">X3</option>
                <option value="C-MAX">C-MAX</option>
                <option value="I30">I30</option>
                <option value="Ka+">Ka+</option>
                <option value="Mondeo">Mondeo</option>
                <option value="CL Class">CL Class</option>
                <option value="I20">I20</option>
                <option value="C-HR">C-HR</option>
                <option value="Kodiaq">Kodiaq</option>
                <option value="RAV4">RAV4</option>
                <option value="Citigo">Citigo</option>
                <option value="X5">X5</option>
                <option value="Adam">Adam</option>
                <option value="GLE Class">GLE Class</option>
                <option value="Yeti Outdoor">Yeti Outdoor</option>
                <option value="Viva">Viva</option>
                <option value="Q7">Q7</option>
                <option value="Karoq">Karoq</option>
                <option value="B-MAX">B-MAX</option>
                <option value="Touran">Touran</option>
                <option value="Touareg">Touareg</option>
                <option value="TT">TT</option>
                <option value="Kona">Kona</option>
                <option value="S-MAX">S-MAX</option>
                <option value="T-Cross">T-Cross</option>
                <option value="Ioniq">Ioniq</option>
                <option value="Corolla">Corolla</option>
                <option value="Golf SV">Golf SV</option>
                <option value="X2">X2</option>
                <option value="SL CLASS">SL CLASS</option>
                <option value="Sharan">Sharan</option>
                <option value="Meriva">Meriva</option>
                <option value="Grand C-MAX">Grand C-MAX</option>
                <option value="Santa Fe">Santa Fe</option>
                <option value="Arteon">Arteon</option>
                <option value="Scirocco">Scirocco</option>
                <option value="CLS Class">CLS Class</option>
                <option value="Prius">Prius</option>
                <option value="Galaxy">Galaxy</option>
                <option value="Edge">Edge</option>
                <option value="V Class">V Class</option>
                <option value="IX20">IX20</option>
                <option value="KA">KA</option>
                <option value="S Class">S Class</option>
                <option value="Scala">Scala</option>
                <option value="X4">X4</option>
                <option value="Combo Life">Combo Life</option>
                <option value="Rapid">Rapid</option>
                <option value="Kamiq">Kamiq</option>
                <option value="Yeti">Yeti</option>
                <option value="M4">M4</option>
                <option value="A7">A7</option>
                <option value="GL Class">GL Class</option>
                <option value="I40">I40</option>
                <option value="A8">A8</option>
                <option value="IX35">IX35</option>
                <option value="I800">I800</option>
                <option value="Verso">Verso</option>
                <option value="Avensis">Avensis</option>
                <option value="Amarok">Amarok</option>
                <option value="6 Series">6 Series</option>
                <option value="Z4">Z4</option>
                <option value="X6">X6</option>
                <option value="7 Series">7 Series</option>
                <option value="GTC">GTC</option>
                <option value="Caravelle">Caravelle</option>
                <option value="SLK">SLK</option>
                <option value="CC">CC</option>
                <option value="Tiguan Allspace">Tiguan Allspace</option>
                <option value="CLA Class">CLA Class</option>
                <option value="Hilux">Hilux</option>
                <option value="Beetle">Beetle</option>
                <option value="Puma">Puma</option>
                <option value="M Class">M Class</option>
                <option value="GLS Class">GLS Class</option>
                <option value="X-CLASS">X-CLASS</option>
                <option value="GT86">GT86</option>
                <option value="Q8">Q8</option>
                <option value="Tourneo Custom">Tourneo Custom</option>
                <option value="Shuttle">Shuttle</option>
                <option value="Caddy Maxi Life">Caddy Maxi Life</option>
                <option value="Zafira Tourer">Zafira Tourer</option>
                <option value="Grand Tourneo Connect">Grand Tourneo Connect</option>
                <option value="Mustang">Mustang</option>
                <option value="X7">X7</option>
                <option value="Land Cruiser">Land Cruiser</option>
                <option value="i3">i3</option>
                <option value="RS6">RS6</option>
                <option value="8 Series">8 Series</option>
                <option value="RS3">RS3</option>
                <option value="Jetta">Jetta</option>
                <option value="Tourneo Connect">Tourneo Connect</option>
                <option value="RS4">RS4</option>
                <option value="M5">M5</option>
                <option value="R8">R8</option>
                <option value="RS5">RS5</option>
                <option value="Antara">Antara</option>
                <option value="M3">M3</option>
                <option value="Agila">Agila</option>
                <option value="Vivaro">Vivaro</option>
                <option value="M2">M2</option>
                <option value="S3">S3</option>
                <option value="GLB Class">GLB Class</option>
                <option value="Roomster">Roomster</option>
                <option value="i8">i8</option>
                <option value="SQ5">SQ5</option>
                <option value="Fusion">Fusion</option>
                <option value="California">California</option>
                <option value="PROACE VERSO">PROACE VERSO</option>
                <option value="G Class">G Class</option>
                <option value="Supra">Supra</option>
                <option value="S4">S4</option>
                <option value="Camry">Camry</option>
                <option value="IQ">IQ</option>
                <option value="Caddy Life">Caddy Life</option>
                <option value="M6">M6</option>
                <option value="SQ7">SQ7</option>
                <option value="Eos">Eos</option>
                <option value="Z3">Z3</option>
                <option value="CLK">CLK</option>
                <option value="Getz">Getz</option>
                <option value="Caddy">Caddy</option>
                <option value="Fox">Fox</option>
                <option value="Cascada">Cascada</option>
                <option value="Vectra">Vectra</option>
                <option value="Urban Cruiser">Urban Cruiser</option>
                <option value="S8">S8</option>
                <option value="Caddy Maxi">Caddy Maxi</option>
                <option value="CLC Class">CLC Class</option>
                <option value="Tigra">Tigra</option>
                <option value="Verso-S">Verso-S</option>
                <option value="Kadjar">Kadjar</option>
                <option value="S5">S5</option>
                <option value="Veloster">Veloster</option>
                <option value="Ampera">Ampera</option>
                <option value="R Class">R Class</option>
                <option value="Terracan">Terracan</option>
                <option value="Streetka">Streetka</option>
                <option value="Accent">Accent</option>
                <option value="RS7">RS7</option>
                <option value="Amica">Amica</option>
                <option value="A2">A2</option>
                <option value="230">230</option>
                <option value="Escort">Escort</option>
                <option value="Transit Tourneo">Transit Tourneo</option>
                <option value="E Class">E Class</option>
                <option value="200">200</option>
                <option value="Ranger">Ranger</option>
                <option value="180">180</option>
                <option value="220">220</option>
            </select>
        </div>
        <div>
          <label for="year" class="block text-gray-700">Year:</label>
          <input type="number" id="year" name="Year" placeholder="Enter the manufacturing year of the car" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
      </div>
      <div>
        <label for="price" class="block text-gray-700">Price:</label>
        <input type="number" id="price" name="Price" placeholder="Enter the price of the car" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
    </div>

    <div>
        <label for="transmission" class="block text-gray-700">Transmission:</label>
        <select id="transmission" name="Transmission" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
            <option value="" disabled selected>Select transmission type</option>
            <option value="Manual">Manual</option>
            <option value="Semi-Auto">Semi-Auto</option>
            <option value="Automatic">Automatic</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div>
        <label for="mileage" class="block text-gray-700">Mileage:</label>
        <input type="number" id="mileage" name="Mileage" placeholder="Enter the mileage of the car" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
    </div>

    <div>
        <label for="fuelType" class="block text-gray-700">Fuel Type:</label>
        <select id="fuelType" name="FuelType" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
            <option value="" disabled selected>Select fuel type</option>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Other">Other</option>
            <option value="Electric">Electric</option>
        </select>
    </div>

    <div>
        <label for="tax" class="block text-gray-700">Tax:</label>
        <input type="number" id="tax" name="Tax" placeholder="Enter the tax rate applicable to the car" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
    </div>

    <div>
        <label for="mpg" class="block text-gray-700">MPG:</label>
        <input type="number" id="mpg" name="MPG" placeholder="Enter the miles per gallon efficiency of the car" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
    </div>

    <div>
        <label for="engineSize" class="block text-gray-700">Engine Size:</label>
        <input type="number" id="engineSize" name="EngineSize" placeholder="Enter the size of the car's engine" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
    </div>

    <div>
        <label for="manufacturer" class="block text-gray-700">Manufacturer:</label>
        <select id="manufacturer" name="Manufacturer" class="w-full px-3 py-2 border border-gray-300 rounded-md" required>
            <option value="" disabled selected>Select manufacturer</option>
            <option value="ford">Ford</option>
            <option value="volkswagen">Volkswagen</option>
            <option value="vauxhall">Vauxhall</option>
            <option value="merc">Mercedes-Benz</option>
            <option value="BMW">BMW</option>
            <option value="Audi">Audi</option>
            <option value="toyota">Toyota</option>
            <option value="skoda">Skoda</option>
            <option value="hyundi">Hyundai</option>
        </select>
    </div>

    <div class="flex justify-center">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">Predict</button>
    </div>
</form>
</div>





    </section>

    <!-- FAQ -->
    <section class="bg-bookmark-white py-20">
      <div class="container">
        <!-- Heading -->
        <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
          <h1 class="text-3xl text-center text-bookmark-blue">Frequently Asked Questions</h1>
          <p class="text-center text-bookmark-grey mt-4">
            Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
          </p>
        </div>
        <!-- FAQ Items -->
        <div class="flex flex-col sm:w-3/4 lg:w-5/12 mt-12 mx-auto">
          <div class="flex items-center border-b py-4">
            <span class="flex-1">What is a Autopredictor?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">How can I use autopredictor?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">Is there a mobile app?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">What about other Chromium browsers?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <button type="button" class="mt-12 flex self-center btn btn-purple hover:bg-bookmark-white hover:text-black">
            More Info
          </button>
        </div>
      </div>
    </section>

    <!-- Contact Us -->
    <section class="bg-bookmark-purple text-white py-20">
      <div class="container">
        <div class="sm:w-3/4 lg:w-2/4 mx-auto">
          <p class="font-light uppercase text-center mb-8">35,000+ ALREADY JOINED</p>
          <h1 class="text-3xl text-center">Stay up-to-date with what we’re doing</h1>
          <div class="flex flex-col sm:flex-row gap-6 mt-8">
            <input
              type="text"
              placeholder="Enter your email address"
              class="focus:outline-none flex-1 px-2 py-3 rounded-md text-black"
            />
            <button type="button" class="btn bg-bookmark-red hover:bg-bookmark-white hover:text-black">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-bookmark-blue py-8">
      <div class="container flex flex-col md:flex-row items-center">
        <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
          <img src="/static/images/logo-bookmark-white.png" alt="" />
          <ul class="flex text-white uppercase gap-12 text-xs">
            <li class="cursor-pointer">Features</li>
            <li class="cursor-pointer">Pricing</li>
            <li class="cursor-pointer">Contact</li>
          </ul>
        </div>
        <div class="flex gap-10 mt-12 md:mt-0">
          <li><i class="text-white text-2xl fab fa-twitter"></i></li>
          <li><i class="text-white text-2xl fab fa-facebook-square"></i></li>
        </div>
      </div>
    </footer>
  </body>
</html>
